<html>

<head>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/cfc83f78d0.js" crossorigin="anonymous"></script>
</head>


<section class="section">
  <section class="columns is-mobile is-multiline is-centered mt-2">
    <div class="column box is-4 has-background-light mt-5 has-text-centered">
      <img src="https://image.tmdb.org/t/p/w500{{ lesFilms.poster_path }} " width="500">
    </div>
    <div class="column box p-1 is-6 has-background-light mt-5">
      <article class="media">

        <div class="media-content">
          <div class="content">
            <p class="has-text-centered">
              <strong class=" is-size-1	">{{ lesFilms.title }}</strong> <br>
              <strong> Sorti le : {{ lesFilms.release_date }} </strong>
            </p>
            <p class="mb-2">
              <strong> Acteurs principaux : </strong>
            </p>
            <ul *ngFor="let item of actorsArray;let i = index">
              <li>
                {{ actorsArray[i] }}
              </li>
            </ul>
            <div class="has-text-justified ml-2">

              <p class="mb-2">
                <strong> Réalisateur : </strong>
              </p>
              <ul *ngFor="let director of directorArray; let i =index">
                <li> {{ director }}</li>
              </ul> <br>
              <p class="mb-2">
                <strong> Synopsis : </strong>
                {{ lesFilms.overview }} <br>
              </p>
              <p class="mb-2">
                <strong> Budget : </strong>
                {{ lesFilms.budget}} $ <br>
              </p>

              <p class="mb-2">
                <strong> Page officielle : </strong>
                <a href="{{ lesFilms.homepage }}"> {{ lesFilms.homepage }} </a><br>
              </p>

              <div class="field is-grouped">
                <div *ngIf="showFavoriteButton==true">
                  <button class="button is-success" (click)="onClicFavoris(lesFilms)">
                    <span class="icon is-small">
                      <i class="far fa-check-square"></i>
                    </span>
                    <span>Ajouter aux favoris</span>
                  </button>
                </div>
                <div *ngFor="let item of lesFavoris;let i = index">
                  <div *ngIf="lesFilms.id==lesFavoris[i].id">
                    <button class="button is-danger" (click)="onClicFavoris(lesFilms)">
                      <span class="icon is-small">
                        <i class="fas fa-radiation-alt"></i>
                      </span>
                      <span>Supprimer des favoris</span>
                    </button>



                  </div>
                </div>
              </div>
            </div>
          </div>


          <div *ngFor="let item of lesFavoris;let i = index">
            <div *ngIf="lesFilms.id==lesFavoris[i].id">
              <form [formGroup]="identForm">

                <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="field">
                      <p class="control">
                        <textarea class="textarea" formControlName="comment" type="text"
                          placeholder="Ajouter un commentaire ..."></textarea>
                      </p>
                      <div class="field">
                        <p class="control">
                          Ajouter une note (entre 1 et 5)
                          <textarea formControlName="note" type="text" placeholder="Ajouter une note ..."></textarea>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control">
                          <button class="button" (click)="onClicComment()">Post comment</button>
                        </p>
                      </div>
                    </div>
                    <p *ngIf="commentaire"> commentaire : {{ commentaire }}</p>
                    <p *ngIf="5 >= note && note>=1">
                      note : {{ note }}/ 5 </p>