<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Rechercher un titre de Film</h3>


        <form [formGroup]="identForm" (ngSubmit)="recherche()">
          <div class="field">
            <label class="label">titre</label>
            <div class="control">
              <input class="input is-success" formControlName="title" type="text"
                placeholder="Star Wars ou tout autre film pour faire plaisir a un camarade dont je tairais le prénom..."
                value="">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Soumettre</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<ul *ngFor="let film of lesFilms; let i =index">
  <section class="columns is-mobile is-multiline is-centered mt-2">
    <div class="column box is-6 has-background-light mt-5">
      <a [routerLink]="['/film/', film.id ]" class=" has-text-dark">
        <article class="media">
          <figure class="media-left">

            <li><img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }}" width="150"></li>

          </figure>
          <div class="media-content">
            <div class="content">
              <strong>
                <li>{{ film.title }}</li>
              </strong>
              <br>
              <li>Date de sortie : {{ film.release_date}}</li>
              <li>Synopsis : {{film.overview}} </li>

            </div>
          </div>
        </article>
      </a>
    </div>
  </section>
</ul>

<div *ngIf="  this.nbPages > this.numPage">
  <p class="buttons">
    <button class="button is-success" (click)="nextPage()">

      <span>Page suivante</span>
    </button>
  </p>
</div>
<div *ngIf="this.numPage > 1">
  <p class="buttons">
    <button class="button is-success" (click)="previousPage()">

      <span>Page précédente</span>
    </button>
  </p>
</div>